# React build folder
build

# Cache folder
.cache

# npm modules except 'node_modules/.bin'
node_modules/*

# *.log files
*.log

# TypeScript build folder
*.tsx?.build-info

# coverage folder
coverage

# jest snapshot folder
__snapshots__

# jest configuration file
jest.config.js

# TypeScript type definitions
@types/*
