@tailwind base;
@tailwind components;
@tailwind utilities;

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  line-height: 16px;
  font-size: 16px;
  padding-right: 10px;
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 10px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 90%;
  opacity: 0.7;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

:where(.css-dev-only-do-not-override-17seli4).ant-layout .ant-layout-sider {
  background: white;
}
